.store_container {
  height: 100%;
  user-select: none;
  text-align: center;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--maincFontColor);
  border-radius: 10px;
}

.droppable .store_header span {
  font-size: var(--templateFS);
}

.store_container_no_tier {
  grid-area: no_tier;
}

.store_container_tier_1 {
  grid-area: tier_1;
}

.store_container_tier_2 {
  grid-area: tier_2;
}

.store_container_tier_3 {
  grid-area: tier_3;
}

.store_container_tier_4 {
  grid-area: tier_4;
}

.store_items {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}


.store_item {
  width: fit-content;
  padding: 1px 0;
}

.store_container_no_tier .store_item p {
  max-width: 280px;
}

.store_item p {
  white-space: nowrap;
  overflow: hidden;
  background: var(--templateAttributeColor);
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: var(--templateFS);
  padding: 0 5px;
}

@media(max-width:1000px) {
  .store_item p {
    max-width: 150px;
  }

  .store_container_no_tier .store_item p {
    max-width: 170px;
  }
}

@media(max-width:500px) {
  .store_item p {
    max-width: 130px;
  }
}

@media(max-width:350px) {
  .store_item p {
    max-width: 90px;
  }
}