body {
  background: var(--backgroundColor);
  color: var(--maincFontColor);
  font-weight: 500;
  font-family: Roboto;
}

#root {
  max-width: 1250px;
  margin: 0 auto;
}

ul li span {
  padding: 10px;
}