:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scaleFactor: 1;
  --h1FS: calc(32px * var(--scaleFactor));
  --inputFS: calc(16px * var(--scaleFactor));
  --backgroundColor: linear-gradient(180deg, rgba(13, 15, 36, 1) 1%, rgba(34, 37, 74, 1) 100%);
  --maincFontColor: rgb(201, 193, 193);
  --gradient: linear-gradient(285deg, rgba(226, 225, 222, 1) 1%, rgb(155, 165, 137) 100%);
  --blueColor: #1976d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}