:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scaleFactor: 1;
  --scaleOverlayFactor: 1;
  --rootContainerSize: 1250px;
  --h1FS: calc(32px * var(--scaleFactor));
  --mainFS: calc(16px * var(--scaleFactor));
  --templateFS: calc(15px * var(--scaleFactor));
  --backgroundColor: linear-gradient(180deg, rgba(13, 15, 36, 1) 1%, rgba(34, 37, 74, 1) 100%);
  --maincFontColor: rgb(201, 193, 193);
  --tableTdColor: rgb(136, 143, 125);
  --gradient: linear-gradient(285deg, rgba(226, 225, 222, 1) 1%, rgb(155, 165, 137) 100%);
  --darkColor: rgb(41, 44, 46);
  --blueColor: #1976d2;
  --templateAttributeColor: #2e7d32;
  --errorColor: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media(max-width:900px) {
  :root {
    --scaleFactor: 0.9;
    --scaleOverlayFactor: 0.7;
  }
}

@media(max-width:500px) {
  :root {
    --scaleFactor: 0.85;
    --scaleOverlayFactor: 0.5;
  }
}