.positions_tablet .positions_tablet_pos {
  font-size: calc(var(--scaleOverlayFactor) * 14px);
  width: calc(var(--scaleOverlayFactor) * 45px);
  height: calc(var(--scaleOverlayFactor) * 45px);
  background: var(--tableTdColor);
  border: calc(var(--scaleOverlayFactor) * 3px) solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.positions_tablet .positions_tablet_WB:nth-child(1),
.positions_tablet .positions_tablet_FB:nth-child(2),
.positions_tablet .positions_tablet_WM:nth-child(3),
.positions_tablet .positions_tablet_WA:nth-child(4) {
  top: 10%;
}

.positions_tablet .positions_tablet_WB:nth-child(5),
.positions_tablet .positions_tablet_FB:nth-child(6),
.positions_tablet .positions_tablet_WM:nth-child(7),
.positions_tablet .positions_tablet_WA:nth-child(8) {
  bottom: 10%;
}

.positions_tablet .positions_tablet_WB,
.positions_tablet .positions_tablet_CD {
  left: 15%;
}

.positions_tablet .positions_tablet_FB,
.positions_tablet .positions_tablet_DM {
  left: 33%;
}

.positions_tablet .positions_tablet_WM,
.positions_tablet .positions_tablet_CM {
  left: 51%;
}

.positions_tablet .positions_tablet_WA,
.positions_tablet .positions_tablet_AM {
  left: 69%;
}

.positions_tablet .positions_tablet_GK:nth-child(9),
.positions_tablet .positions_tablet_CD:nth-child(10),
.positions_tablet .positions_tablet_DM:nth-child(11),
.positions_tablet .positions_tablet_CM:nth-child(12),
.positions_tablet .positions_tablet_AM:nth-child(13),
.positions_tablet .positions_tablet_ST:nth-child(14) {
  top: calc(50% - (var(--scaleOverlayFactor) * 45px)/2);
}

.positions_tablet .positions_tablet_GK {
  left: 0%;
}

.positions_tablet .positions_tablet_ST {
  left: 85%;
}