.templates_section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.templates_header {
  margin-bottom: 35px;
}

.templates_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templates_group button {
  margin: 0 10px 5px 0;
}