form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  cursor: pointer;
}

form input {
  margin-top: 10px;
  font-size: var(--mainFS);
  font-weight: 500;
  cursor: pointer;
  display: block;
  width: 100%;
  color: var(--maincFontColor);
  border-radius: 5px;
  border: 1px solid white;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input::file-selector-button {
  color: var(--blueColor);
  background: var(--maincFontColor);
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-right: 1px solid var(--blueColor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::file-selector-button:hover {
  color: var(--maincFontColor);
  background: transparent;
  border-right: 1px solid var(--maincFontColor);
  transition: 0.4s ease-in-out;
}