.table_section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resized_table {
  width: calc(100svw - 20px);
  transform: translate(calc((-100svw + 20px + var(--rootContainerSize))/2));
}

.resize_table_icon {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.resize_table_icon:hover {
  transform: scale(1.3);
}

.players_table {
  width: 100%;
  max-height: 600px;
  margin: 25px auto;
  border-radius: 10px;
  color: black;
  overflow-x: scroll;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--tableTdColor);
}

.players_table th {
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
  background: var(--darkColor);
  height: 50px;
}

.players_table th button {
  border: none;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--mainFS);
  color: var(--maincFontColor);
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.players_table th button:hover {
  text-decoration: underline;
  color: var(--blueColor);
  transition: 0.3s ease-in-out;
}

td {
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid black;
  font-weight: 600;
}

tbody tr {
  border-bottom: 1px solid black;
  cursor: pointer;
}

tbody tr:hover {
  background: #6e6a6a;
}

.skill_green {
  color: rgb(1, 82, 1);
}

.skill_yellow {
  color: rgb(194, 197, 34);
}

.skill_red {
  color: rgb(116, 19, 19);
}

@media(max-width:1250px) {
  .resized_table {
    width: 100%;
    transform: unset;
  }

  .resize_table_icon {
    display: none;
  }
}

@media(max-width:900px) {
  .players_table th button {
    padding: 5px 20px;
  }

  td {
    padding: 0;
  }
}