.player-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: white;
}

.overlay_bg {
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.9;
  display: block;
  position: fixed;
  z-index: 1;
}

.close_button_container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.player-overlay_container {
  max-width: var(--rootContainerSize);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.player_overlay_info_positions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-overlay_info {
  display: flex;
}

.player-overlay_info .player_photo {
  width: calc(var(--scaleOverlayFactor) * 200px);
  height: calc(var(--scaleOverlayFactor) * 200px);
  margin-right: 15px;
}

.player-overlay_info .info {
  max-height: calc(var(--scaleOverlayFactor) * 450px);
  max-width: 300px;
  overflow: auto;
  list-style: none;
}

.positions_tablet {
  background-image: url('../../assets/football_table.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(var(--scaleOverlayFactor) * 425px);
  height: calc(var(--scaleOverlayFactor) * 275px);
  position: relative;
  margin-top: 25px;
}

.positions_tablet .positions_tablet_pos {
  font-size: calc(var(--scaleOverlayFactor) * 14px);
  width: calc(var(--scaleOverlayFactor) * 45px);
  height: calc(var(--scaleOverlayFactor) * 45px);
  background: var(--tableTdColor);
  border: calc(var(--scaleOverlayFactor) * 3px) solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.positions_tablet .positions_tablet_WB:nth-child(1),
.positions_tablet .positions_tablet_FB:nth-child(2),
.positions_tablet .positions_tablet_WM:nth-child(3),
.positions_tablet .positions_tablet_WA:nth-child(4) {
  top: 10%;
}

.positions_tablet .positions_tablet_WB:nth-child(5),
.positions_tablet .positions_tablet_FB:nth-child(6),
.positions_tablet .positions_tablet_WM:nth-child(7),
.positions_tablet .positions_tablet_WA:nth-child(8) {
  bottom: 10%;
}

.positions_tablet .positions_tablet_WB,
.positions_tablet .positions_tablet_CD {
  left: 15%;
}

.positions_tablet .positions_tablet_FB,
.positions_tablet .positions_tablet_DM {
  left: 33%;
}

.positions_tablet .positions_tablet_WM,
.positions_tablet .positions_tablet_CM {
  left: 51%;
}

.positions_tablet .positions_tablet_WA,
.positions_tablet .positions_tablet_AM {
  left: 69%;
}

.positions_tablet .positions_tablet_GK:nth-child(9),
.positions_tablet .positions_tablet_CD:nth-child(10),
.positions_tablet .positions_tablet_DM:nth-child(11),
.positions_tablet .positions_tablet_CM:nth-child(12),
.positions_tablet .positions_tablet_AM:nth-child(13),
.positions_tablet .positions_tablet_ST:nth-child(14) {
  top: calc(50% - (var(--scaleOverlayFactor) * 45px)/2);
}

.positions_tablet .positions_tablet_GK {
  left: 0%;
}

.positions_tablet .positions_tablet_ST {
  left: 85%;
}


.stats li {
  padding: 0;
}