.player_overlay_info_positions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-overlay_info {
  display: flex;
}

.info li {
  display: flex;
  align-items: center;
}

.info .underlined_prop {
  text-decoration: underline;
  margin-right: 5px;
}

.player-overlay_info .player_photo {
  width: calc(var(--scaleOverlayFactor) * 200px);
  height: calc(var(--scaleOverlayFactor) * 200px);
  margin-right: 15px;
}

.player-overlay_info .info {
  max-height: calc(var(--scaleOverlayFactor) * 350px);
  max-width: 300px;
  overflow: auto;
  list-style: none;
}

.positions_tablet {
  background-image: url('../../../assets/football_table.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(var(--scaleOverlayFactor) * 425px);
  height: calc(var(--scaleOverlayFactor) * 275px);
  position: relative;
  margin-top: 25px;
}

@media(max-width:450px) {
  .positions_tablet {
    z-index: -1;
  }
}

@media(max-width:380px) {
  .player-overlay_info .info {
    max-width: calc(var(--scaleOverlayFactor) * 300px);
  }
}