.template_input_cls_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.droppable_block {
  display: grid;
  grid-template-areas:
    "no_tier no_tier no_tier no_tier"
    "tier_1 tier_2 tier_3 tier_4";
  grid-template-rows: 250px 330px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.template_save_delete_buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

@media(max-width:800px) {
  .droppable_block {
    grid-template-rows: 200px 280px;
    gap: 10px;
  }
}

@media(max-width:700px) {
  .droppable_block {
    grid-template-areas:
      "no_tier no_tier no_tier no_tier"
      "tier_1 tier_1 tier_2 tier_2"
      "tier_3 tier_3 tier_4 tier_4";
    grid-template-rows: 200px 250px 250px;
  }
}

@media(max-width:350px) {
  .template_save_delete_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    row-gap: 10px;
  }
}